/**********************************
* IMPORTS
***********************************/
@import 'variables';
@import 'mixins';
@import 'typography';


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
  }
  
  /* SCROLLBAR CUSTOMIZATION */
  ::-webkit-scrollbar {
      width: 8px;
  }
  
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: @blue;
  }

  /*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/**********************************
* GLOBAL
***********************************/
// .get-in-touch {
//     margin-bottom: 159px;
//     @media @min1024 {
//         margin-bottom: 202px;
//     }
//     span a {
//         .custom-btn();
//         margin: 0 auto;
//         margin-top: 22px;
//     }
//     h1 {
//         margin-bottom: 19px;
//     }
//     .social {
//         margin-top: 58px;
//         a {
//             margin: 0 14.5px;
//         }
//     }
// }

// .current-menu-item:first-of-type a {
//     color: @black !important;
// }
// .current-menu-item a {
//     color: @green !important;
// }

// .rounded-padding {
//     padding-left: 17px;
//     @media @min1024 {
//         padding-left: 27px;
//     }
// }

#content {
    margin: 0;
}

// iframe {
//     // .rounded();
//     margin-bottom: 23px;
//     height: 213px;
//     @media @min768 {
//         margin-bottom: 37px;
//         height: 408px;
//     }
//     @media @min1024 {
//         margin-bottom: 55px;
//         height: 408px;
//     }
// }

// .white-rec {
//     width: 100%;
//     display: block;
//     background: @white;
//     height: 104px;
//     position: absolute;
//     bottom: 0;
// }

// #ajaxsearchliteres1 {
//     border-radius: 30px;
// }

// .promagnifier {
//     display: none;
// }

// .asl_image {
//     border-radius: 15px !important;
// }

// #ajaxsearchlite1 {
//     padding: 5px 7px;
//     width: 85%;
//     @media @min768 {
//         width: 100%;
//         padding: 10px 24px;
//     }
// }

.grecaptcha-badge {
    opacity: 0 !important;
}
.error404 {    
    .error-block{padding-bottom: 100px;}
    h1{
        .font-size(180,80);
        text-shadow: 
        1px 1px 1px @blue,    
        2px 2px 1px @blue,
        3px 3px 1px @blue,
        4px 4px 1px @blue,
        5px 5px 1px @blue,
        6px 6px 1px @blue,
        7px 7px 1px @blue,
        8px 8px 1px @blue,
        25px 25px 8px rgba(0,0,0, 0.2);
    }
    h3{
        color: @green;
    }
    .back-home{
        .custom-btn(@green, @ltgreen);
        max-width: max-content;
        margin: auto;
        margin-top: 40px;
        width: 100%;
        display: block;
    }
}

.hidden {
    overflow-y: hidden;
}
html {
    overflow-x: hidden;
}
  body {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background-color: @white;
    box-shadow: 0 -20px 13px 4px rgba(0,0,0, 11%);
}
html, body{
    scroll-behavior: smooth;
}
// #return-to-top {
//     position: fixed;
//     bottom: 26px;
//     right: 20px;
//     background: @black;
//     width: 40px;
//     height: 40px;
//     display: block;
//     text-decoration: none;
//     -webkit-border-radius: 5px;
//     -moz-border-radius: 5px;
//     border-radius: 5px;
//     border: 2px solid @black;
//     z-index: 9;

//     &:hover {
//         opacity: .7;
//     }
// }

// #return-to-top i {
//     margin: 0;
//     position: relative;
//     left: 14px;
//     top: -8px; //may need to be adjusted
//     width: 0; 
//     height: 0; 
//     border-left: 7px solid transparent;
//     border-right: 7px solid transparent;
//     border-bottom: 11px solid @white;

// }


.button_container {
  display: block;
  position: absolute; // use position fixed fro fixed header
  top: 47px;
  right: 9%;
  height: 27px;
  width: 49px;
  cursor: pointer;
  z-index: 500;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: @green;
    }
    .middle {
      opacity: 0;
      background: @green;
      width: 100%;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: @green;
      width: 100%;
    }
  }

  span {
  background: @green;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;


    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .button_container {
    display: none;
  }
}
// for menu sliding from right to left instead of top to bottom
// change these settings
/*
    .overlay{
        width: 0%;
        height: 100%;
        right:0; instead of left:0
        &.open{
            width: 100%
        }
    }
*/
.overlay {
    position: fixed;
    background: @lightGreen;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: auto;
    z-index: 400;

    .site-logo{
        // margin-left: 20px;
        margin-top: 40px;
        .padding-lr();
    }

    &.open {
      opacity: 1;
      visibility: visible;
      height: 100%;
  
      li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
  
        &:nth-of-type(2) {
          animation-delay: .40s;
        }
        &:nth-of-type(3) {
          animation-delay: .45s;
        }
        &:nth-of-type(4) {
          animation-delay: .50s;
        }
        &:nth-of-type(5) {
            animation-delay: .55s;
        }
        &:nth-of-type(6) {
        animation-delay: .60s;
        }
        &:nth-of-type(7) {
        animation-delay: .65s;
        }
        &:nth-of-type(8) {
        animation-delay: .70s;
        }
        &:nth-of-type(9) {
        animation-delay: .75s;
        }
      }
    }
    .overlay-nav-main{
        .padding-lr();
        .overlay-menu {
            position: relative;
            font-size: 50px;
            font-weight: 400;
            text-align: left;
            margin-top: 35px;
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%;
        
            li {
              display: block;
              position: relative;
              opacity: 0;
              margin: 0;
              ul{
                display: none;
              }
              a {
                display: block;
                position: relative;
                color: @white;
                text-decoration: none;
                overflow: hidden;
                font-size: 25px;
                text-transform: none;
                margin-top: 0px;
                font-weight: 500;
                margin-bottom: 0;
                font-weight: 700;
                &:hover {
                  opacity: 1;
                }
              }
            }
        }
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  

form {
    textarea {
        height: 202px;
    }

    input[type="submit"] {
        transition: .3s;
        margin-top: 0;
        width: 133px;
        margin: 0 auto;
        color: @blue;
        @media @min1024 {
            float: left;
        }
        &:hover {
            cursor: pointer;
        }
    }

    p {
        margin-bottom: 42px;
    }
    input,textarea {
        padding: 8px 0;
        border: none;
        border-bottom: 1.5px solid @blue;
        width: 100%;
        font-family: @mont;
        font-size: 18px;

        &:focus {
            outline: none;
        }
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: @blue !important;
        opacity: 1;
        font-weight: 300;
        font-family: @mont;
        font-size: 18px;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: @blue !important;
        opacity: 1;
        font-weight: 300;
        font-family: @mont;
        font-size: 18px;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @blue !important;
        opacity: 1;
        font-weight: 300;
        font-family: @mont;
        font-size: 18px;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @blue !important;
        opacity: 1;
        font-weight: 300;
        font-family: @mont;
        font-size: 18px;
    }
}
.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
  }
  
.transform {
    transform: scaleX(-1);
}

button:focus,
input:focus {
    outline: none;
}

div {
    box-sizing: border-box;
}

// .gform_wrapper .gform_validation_errors {
//     background: transparent !important;
//     margin-top: 50px !important;
// }

// .gform_wrapper.gravity-theme .description, .gform_wrapper.gravity-theme .gfield_description, .gform_wrapper.gravity-theme .gsection_description, .gform_wrapper.gravity-theme .instruction {
//     background: transparent;
//     width: 100% !important;
//     @media @min768 {
//         width: 200px !important;
//     }
// }

// #gform_wrapper_1 {
//     margin-top: 100px !important;
// }


a:focus,
button:focus {
    outline: none;
}

.custom-btn {
    background-color: @green;
    border: 2px solid @green;
    padding: 8px 0px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    font-family: @mont;
    font-size: 20px;
    width: 209px;
    border-radius: 50px;
    .center();
  
    &:hover {
        background-color: transparent;
        color: @green;
        opacity: 1;
    }
}

img {
    height: auto;
}

.img-responsive{
    display: block;
    width: 100%;
}

.radio(@ratio){
    aspect-ratio: @ratio;
    object-fit: cover;
}
/**********************************
* HEADER
***********************************/

header {
    padding: 30px 0;
    background-color: @lightGreen;
    width: 100%;
    max-width: 1920px;
    .padding-lr();
    box-sizing: border-box;
    //use these css fro fixed header
    position: fixed;
    z-index: 10;
    top: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    &.fixed-header{
        background-color: rgba(0, 0, 0, 0.6); // change according to header
        backdrop-filter: blur(5px);
        box-shadow: 0 1px 6px 0 rgb(32, 33, 36 / 28%);
    }
}

.site-logo {
    display: inline-block;
    // margin-left: 17px;
    width: 170px;
    margin-bottom: 0;
    position: relative;
    z-index: 65;
    @media @min768{
        width: 270px;
    }
    @media @min1024 {
        // margin-left: 68px;
        width: auto;  
    }
    svg {
        width: 200px;
        display: block;
        @media @min768{
            width: 270px;
        }
        @media @min1024 {
            width: auto;  
        }
    }
    // img {
    //     width: 69px;
    //     @media @min1024 {
    //         width: auto;  
    //     }
    // }

    // if you want to slide menu from roght to left
    // svg{
    //     rect{
    //         fill: green;
    //         transition: 2s ease fill;
    //     }
    //     &.color{
    //         rect{
    //             fill: red;
    //         }
    //     }
    // }
}

.nav-main {
    float: right;
    margin-top: 17px;
    display: none;
    @media @min1024 {
        display: inline-block;
    }
    @media @min1500 {
        margin-top: 45px;
    }
    ul {
        li {
            display: inline-block;
            margin-left: 28px;
            @media @min1500 {
                margin-left: 64px;
            }
            ul{
              display: none;
            }
            a {
                color: @black;
                text-decoration: none;
                font-family: @mont;
                font-weight: 500;
                font-size: 16px;
                &:hover {
                    color: @green;
                }
            }
        }
    }
}

/**********************************
* HERO
***********************************/ 
.hero{
    // margin-top: 114px; // use for Fixed header
}


/**********************************
* HOME PAGE
***********************************/


/**********************************
* FOOTER
***********************************/

footer {
    
    .copyright {
        margin-top: 52.5px;
        padding-bottom: 52.5px;
     
        span,a {
            font-size: 12px;
            width: 100%; 
            margin: 0;
            color: @black;
            @media screen and (min-width: 600px) {
                width: auto;
            }
        }

        .copyright-text {
            display: block;
        }

        span:nth-of-type(2) {
            display: block;
            margin-bottom: 0;
            @media @min1024 {
                display: inline-block;
            }
        }
    }
}

//if you want footer text in one line
// span,a {
//     // width: 100%;
// }

// .copyright-text {
//     display: block;
//     @media @min1024{
//         display: inline-block;
//     }
// }

// span:nth-of-type(2) {
//     display: inline-block;
//     margin-bottom: 0;
//     @media @min1024 {
//         display: inline-block;
//     }
// }