// ========================================================================== //
// Max-widths
// ========================================================================== //

.width(@width){ // example: 1920px
	max-width: @width;
	width: 100%;
	margin: 0 auto;
}
  
// ========================================================================== //
// Grid
// ========================================================================== //
.grid {
  display: grid;
}

.grid(1) {
  display: grid;
  grid-template-columns: 100%;
}

.grid(@columns) {
  display: grid;
  grid-template-columns: repeat(@columns, minmax(0, 1fr));
}

// ========================================================================== //
// paddings
// ========================================================================== //
.padding-lr{
  padding-left: @xs*3;
  padding-right: @xs*3;
  @media @min768{
    padding-left: @xs*5;
    padding-right: @xs*5;
  }
  @media @min992{
    padding-left: @xs*10;
    padding-right: @xs*10;
  }
  @media @min1600{
    padding-left: @xs*14;
    padding-right: @xs*14;
  }
}
.padding-tb(@top, @bottom, @top-dk, @bottom-dk){
  padding-top: @top;
  padding-bottom: @bottom;
  @media @min768{
    padding-top: @top-dk;
    padding-bottom: @bottom-dk;
  }
}
// ========================================================================== //
// margins
// ========================================================================== //
.margin-top{
  margin-top: @xs*5;
}
// ========================================================================== //
// Positioning
// ========================================================================== //
.zero {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
// ========================================================================== //
// Flex
// ========================================================================== //
.display-flex(@flex, @gap, @dir, @align){
  display: @flex;
  gap: @gap;
  flex-direction: @dir;
  align-items: @align;
}
// ========================================================================== //
// Grid
// ========================================================================== //
.display-2-1( @gap, @row-gap){
  display: grid;
  .grid(1);
  row-gap: @row-gap;
  @media @min992{
    .grid(2);
    gap: @gap;
  }
}
// ========================================================================== //
// animation
// ========================================================================== //