/*  Guidlines for font-size range
    Formula: font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    Example: font-size: calc(70px + (84 - 70) * ((100vw - 300px) / (1600 - 300)));

    Usage: .font-size(48,28);
*/

.font-size(@maxsize, @minsize){    
    font-size: ~"calc(@{minsize}px + ( @{maxsize} - @{minsize} ) * ((100vw - 370px) / (1640 - 370)))";  
    @media @min1920{
        font-size: ~"@{maxsize}px";
    }
}


.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-primary);
    color: var(--pri-500);
    .font-size(80,48);
    line-height: var(--heading-line-height);
    font-weight: 700;
}

.h2,h2 {
    .font-size(64,64);
}


.h3,h3 {
   .font-size(48,48);
}

.h4,h4 {
    .font-size(32, 32);
}

.h5,.h6,h5,h6 {
    .font-size(24, 24);
}

p,li,a,td,span, legend, label, .wpcf7-response-output {
    font-family: var(--font-primary);
    color: var(--black);
    line-height: var(--body-line-height);
    font-weight: 400;
    .font-size(20, 16);
}

a, button, .wp-block-button__link {
    .transition2();
    text-decoration: none;
    &:hover {
       text-decoration: underline;
    }
}

mark{
    color: var(--pri-500);
    background-color: var(--white);
    transition: all .3s ease-in-out;
}

.anchor {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    .transition2();

    &:hover {
        color: var(--sec-100);
        text-decoration-color: var(--sec-100);
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
    }
}

.letter-spacing(@mb, @dk){
    letter-spacing: ~"@{mb}px";
    @media @min768{
        letter-spacing: ~"@{dk}px";
    }
}