{% extends "base.twig" %}{% block content %}
<div class="error-block">
    <h1 style="margin-block: 50px;" class="center padding-lr">404</h1>
    <h3 class="page center padding-lr">Ooops!!! The page you are looking for is not found</h3>
    <a class="back-home" href="{{site.url}}">Back to home</a>
</div>
{% endblock %}