{% extends "base.twig" %}
{% block content %}
	<form class="password-form password-protected-page"  action="{{site.site_url}}/wp-login.php?action=postpass" method="post">
		<label for="pwbox-{{post.ID}}">Password:</label><input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20"/><input class="password-btn" type="submit" name="Submit" value="Submit"/></form>
{% endblock %}


{# to use it makek sure in template files you have following code 

	//swap the below code with : Timber::render( $templates, $context );
	if ( post_password_required( $timber_post->ID ) ) {
		Timber::render( 'single-password.twig', $context );
	} else {
		Timber::render( $templates, $context );
	}

#}