
<div id="contact" class="contact">
    <div class="contact-info w-1920">
        <h1>Contact</h1>
        <div class="details">
        </div>
    </div>
    <div class="copyright center">
        <span class="copyright-text">&copy; Great Tastes of Manitoba {{"now"|date('Y')}}. </span>
        <span class="site-by">Site by <a href="https://psone.ca/" target="_blank" rel="noopener noreferrer">PSOne</a></span>
        <span> | <a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="noopener noreferrer">Google Terms</a></span>
    </div>
</div>


