
<div id="contact" class="contact">
    <div class="contact-info container">
        <h1>Contact</h1>
        <div class="details">
        </div>
    </div>
    <div class="copyright center">
        <span class="copyright-text">&copy; Clean Breeze Brisbane {{"now"|date('Y')}}. </span>
        <span class="site-by">Site by <a href="https://psone.ca/" target="_blank" rel="noopener noreferrer" aria-label="link to PSone website">PSOne</a></span>
        <span> | <a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="noopener noreferrer" aria-label="Link to google terms">Google Terms</a></span>
    </div>
</div>


