{# https://www.addtoany.com/ #}

{# <div class="share">
  <span>Share this story:</span>
  <div class="a2a_kit a2a_default_style share social-media">
    <a class="a2a_button_facebook">
      {{ source(directory ~ '/static/images/social/facebook.svg') }}
    </a>
    <a class="a2a_button_linkedin">
      {{ source(directory ~ '/static/images/social/linkedin.svg') }}
    </a>
    <a class="a2a_button_twitter">
      {{ source(directory ~ '/static/images/social/twitter.svg') }}
    </a>
    <a class="a2a_button_email">
      {{ source(directory ~ '/static/images/icons/envelope-solid.svg') }}
    </a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
</div> #}


