{# {% extends 'base.twig' %}

{% block content %}
    <div class="rentals-page">        
        <h1>Rentals</h1>
        {% do action('woocommerce_before_main_content') %}
        <div class="product-details">
            <div class="shop-search">
                <div id="before-shop-search-loop" class="before-shop-search-loop">
                    {% do action('woocommerce_before_shop_loop') %}

                </div>
            </div>
            <div class="shop-filter">
                <button type="button" class="add-filter-collapse">Add Filter +</button>
                <div class="filter-categories">
                    <div id="before-shop-loop" class="before-shop-loop">
                    </div>
                    
                </div>
            </div>
            <div class="crumb">
                {{ fn('woocommerce_breadcrumb') }}
            </div>
            <div class="shop-result">            
                <div class="loop">
                    {% for post in products %}
                    <div class="product-listing">
                        {% include ["partials/tease-product.twig"] %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div></div>
            {% do action('woocommerce_after_shop_loop') %}
            {% do action('woocommerce_after_main_content') %}
        </div>
    </div>

{% endblock  %} #}